html,body {width:100%;height:100%;}
.card
{
	border: solid 1px #aaa;
	border-radius: 9px;
	width: 95px;
	height: 150px;
	float:left;
	background-color: white;
	padding: 3px 3px 3px 3px;
}

.card .value{
	font-size:15pt;
	font-family: sans-serif;
}

.card .suit
{
	background-image: url('suits.png');
	height: 100px;
	width: 90px;
}

.card .Diamonds
{
	background-position-y: 100px;
}

.card .Hearts
{
	background-position-x: 90px;
}

.card .Clubs
{
	background-position-x:90px;
	background-position-y:100px;
}
#deck
{
	width : 800px;
	height: 600px;
	border: 1px solid red;
	overflow-y: scroll;
	overflow-x:hidden;
	float : left;
}
#drawn_cards_container{
	width : 500px;
	height: 600px;
	border: 1px solid red;
	overflow-y: scroll;
	overflow-x:hidden;
	margin-left: 20px;
}
.btn-deck{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	
}

.btn-sort {
    position: absolute;
    right: 337px;
    top: 612px;
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=button]:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}